<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="name">
        <button v-on:click="age++">++</button>
        <input type="text" v-model="age">

        <button @click="age--">--</button>
    </div>
</body>
</html>
<script>
    var app=new Vue({
        el:"#app",
        data:{
            name:"郭煜琨",
            age:18
        }

    })


</script>